.navigation{
    text-align: center;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    list-style: none;    
    font-family: 'Montserrat' ;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}

.navigation-item {
    display: inline-block;
    margin-right: 72px; 
    text-align: center;
}

.main-section-img {
    display: inline-block;
    width: 100vw;
}

.main-section-content { 
    display: inline-block;
}

.main-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    padding: 48px 253px 38px;
    color: #373737;  
}

.main-first-paragraph {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    padding: 0px 67.5px 28px;
    color: #373737;
}

.main-second-paragraph {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    padding: 0px 67.5px 66px;
    color: #373737;
}

.section-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 17.5px 43px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 4px;
}

.main-footer-content {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    letter-spacing: 2.4px;
    padding: 82px 105px 29px 713px ;
    color: #373737;
}